.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.container {
    width: 100vw;
    height: 144px;
    background-color: black;

}

.containerLinks {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
}


.containerLinks>a {
    margin-top: 20px;
    color: white;
    font-size: 14px;
    text-decoration: underline;

}

.containerDroit {
    display: flex;
    justify-content: center;

}

.containerDroit>p {
    color: white;
}