.container {
    height: 72px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
}

.startElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
}

.startElement>p {
    color: black;
    font-family: 'Bayon';
    font-style: normal;
    font-weight: 400;
    font-size: 39.1476px;
    margin-left: 5px;
}

.endElement {
    right: 0;
}