.my-lib-ui-form-field {
    position: relative;

    .my-lib-ui-select {
        padding: 18px 12px 18px 16px;
        height: 50px;
        width: 370px;
        background-color: #F9F9F9;
        border: 0px;
        color: black;
        margin-top: 20px;
        margin-right: 20px;
    }

    .my-lib-form-label-select {
        top: 22px;
        left: 20px;
        position: absolute;
    }
}